
body {

  background-color: white;
  color: white;
  margin: 0;
}
*{
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-svg{
  position: relative;
  height: 100vh;
  background-image: url('./assets/wave-haikei\ \(7\).svg');
  background-size: cover;
}

.PageWeb{
  position: absolute;
  top: 0;
}
.hero h1{
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #C09A22;

}

.iFrameY{
  width:700px;
  height:400px;
}

.hero{
  width: 100%;
  text-align: center;
  margin-top: 15px;
/*   position: absolute;
  top: 0%; */
  
}
.hero p{
  color: #333333;
  color: white;
  margin-top: 6px;
}
.hero p:nth-child(3){
  color: brown;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

.content-info{
  width: 100%;
  margin-top: 20px;
  text-align: center;
/*   position: absolute; */
}
.content-info h2{
  font-size: 30px;
  color: #C09A22;
  margin: 25px 0px;
  
}
.content-info h2:nth-child(3){
  margin-top: 40px;
  
}
.content-info h2:nth-child(6){
  margin-top: 40px;
  margin-bottom: 40px;
  
}
.content-info h2:nth-child(8){
  margin-top: 30px;
  margin-bottom: 0px;
}
.content-info h2:nth-child(10){
  margin-top: 15px;
  margin-bottom: 40px;
}
.content-text-img{
  width: 70%;
  margin: 0 auto;
  margin-top: 70px;
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.contentText{
  margin-bottom: 30px;
  font-size: 1.2rem;
  font-weight: 200px;
  color: black;
  width: 60%;
  text-align:left;
}
.contentText p {
  margin-bottom: 30px;
  font-size: 1.2rem;
  font-weight: 200px;
  color: black;
}
.contentText ul{
  list-style-image: url("./assets/check.png");
  margin-left: 25px;
}
.contentText ol{
  margin-left: 20px;
  list-style:square;
}
.contentText ol li{
  margin: 3px 0px;
  background: no-repeat 0% 100%;
  background-image: linear-gradient(#C09A22,#C09A22);
  background-size: 0% 3px;
  transition: background-size .2s ease;
}
.contentText ol li:hover{
  background-size: 100% 3px;

}
.centerText p{
  text-align: left;
  margin: 10px 0px;
}
.card {
  perspective: 150rem;
  position: relative;
  box-shadow: none;
  background: none;
  width: 30%;
  height: 500px;
  margin: 0 auto 0 0;
}
.content-text-img .card:nth-child(2){
  margin: 0 0 0 auto;
}
.container-bonus{
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  color: black;
  font-size: 1.2rem;
  font-weight: 200px;
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 320px);
  justify-content: center;
  row-gap: 40px;
  column-gap: 22px;
  
} 
.container-bonus p:nth-child(2){
  color: #C09A22;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0px 0px;
}
.container-bonus p:nth-child(3){
  font-size: .9rem;
  
}
.container-bonus div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-bonus img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-bonus figure{
  width: 320px;
  height: 300px;
}

.primary-button{
  margin: 0 auto;
  margin-top: 15px;
  background: no-repeat 0 100%;
  background-size: 0% 100%;
  background-image: linear-gradient(#C09A22,#C09A22);
  border-radius: 16px;
  border: 1px solid #C09A22;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  height: 54px;
  transition: background-size .2s ease;
  width: 500px;
}
.primary-button a{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
  color: #C09A22;
  display: grid;
  place-items: center;
}
.secundary-button{
  margin: 0 auto;
  margin-top: 25px;
  background: no-repeat 0% 100%;
  background-size: 100% 100%;
  background-image: linear-gradient(#C09A22,#C09A22);
  border-radius: 16px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  height: 54px;
  width: 500px;
}
.secundary-button a{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
  color: white;
  display: grid;
  place-items: center;
}
.secundary-button:hover{
  opacity: 0.9;
}
.primary-button:hover{
  background-size: 100% 100%;
}
.primary-button:hover a{
  color: white;
}
.me{
  margin-top: 14px;
  width: 90%;
}
.temario{
  margin-bottom: 50px;
}
.pageweb{
  color: #333333;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #C09A22;
  color: #C09A22;
  border-radius: 5px;
}
.space-end{
  margin-top: 15px;
}
.container-action{
  margin-top: 34px;
  font-family: sans-serif;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  background-color: black ;
  row-gap: 20px;
  font-size: 1.3rem;
}
.container-action p:nth-child(1){
  font-size: 2rem;
}
.container-action a:nth-child(2){
  color: white;
  font-weight: 300;
  text-decoration: line-through;
}
.container-action p:nth-child(3){
  color: #C09A22;
  font-size: 2rem;
}
@media (max-width:1920px){
  .me{
    width: 100%;
  }
}
@media (max-width:1100px){
  .temario{
    margin-bottom: 20px;
  }
  .container-bonus{
    grid-template-columns: repeat(auto-fill, 320px);
    column-gap: 10px;
  } 
  .content-text-img{
    flex-direction: column;
    margin-top: 25px;
    width: 80%;
  }
  .contentText{
    width: auto;
  }
  .card{
    width: 50%;
    margin: 0 auto;
  }
  .content-text-img .card:nth-child(2){
    margin: 0 auto;
  }
  .card-side.back, .card-side.front{
    background-size: contain;
  }
  .card-side.back2, .card-side.front2{
    background-size: contain;
  }
}
.card-side {
  height: 100%;
  border-radius: 15px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white
}

.card-side.back {
  transform: rotateY(-180deg);
  background-image: url("https://images.unsplash.com/photo-1544145945-f90425340c7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
  
}

.card-side.front {
  background-image: url("https://images.unsplash.com/photo-1510626176961-4b57d4fbad03?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-size: cover;

}

.card-side.back2 {
  transform: rotateY(-180deg);
  background-image: url("./assets/crea.png");
  background-size: cover;
  background-position: 0px -175px;
  background-repeat: no-repeat;
  
}

.card-side.front2 {
  background-image: url("./assets/Imagenesunicas.png");
  background-size: cover;
  background-position: 0px -175px;
  background-repeat: no-repeat;
}

.card-side.front3 {
  background-image: url("./assets/quiensomos.jpg");
  background-size: cover;
  background-position-x: 40%;
}

.card-side.front4 {
  background-image: url("https://images.unsplash.com/photo-1612083111364-90edbf4132aa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
}
.metitle2{
  margin-bottom: 8px !important;
}
.reason{
  margin-top: 0px;
}


#showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1000px;
  height: 670px;
  
}

section {
  display: inline-block;
  position: relative;
  width: 25%;
  height: 100%;
  background-size: cover;
}
section:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section:nth-child(1) {
  -moz-animation: section-1 8s both infinite;
  -webkit-animation: section-1 8s both infinite;
  animation: section-1 8s both infinite;
}

@-moz-keyframes section-1 {
  0%, 20%, 100% {
    background: url("https://images.unsplash.com/photo-1547626740-02cb6aed9ef8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 0% 0%;
    -webkit-clip-path: polygon(23% 18%, 95% 13%, 100% 91%, 55% 87%);
  }
  25%, 45% {
    background: url("https://unsplash.imgix.net/30/skater.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 0% 0%;
    -webkit-clip-path: polygon(95% 10%, 100% 80%, 62% 77%, 45% 12%);
  }
  50%, 70% {
    background: url("https://images.unsplash.com/photo-1508739773434-c26b3d09e071?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 0% 0%;
    -webkit-clip-path: polygon(100% 67%, 48% 63%, 28% 9%, 95% 3%);
  }
  75%, 95% {
    background: url("https://ununsplash.imgix.net/40/lUUnN7VGSoWZ3noefeH7_Baker%20Beach-12.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 0% 0%;
    -webkit-clip-path: polygon(78% 72%, 58% 34%, 95% 27%, 100% 73%);
  }
}
@-webkit-keyframes section-1 {
  0%, 20%, 100% {
    background: url("https://images.unsplash.com/photo-1547626740-02cb6aed9ef8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 0% 0%;
    -webkit-clip-path: polygon(23% 18%, 95% 13%, 100% 91%, 55% 87%);
  }
  25%, 45% {
    background: url("https://unsplash.imgix.net/30/skater.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 0% 0%;
    -webkit-clip-path: polygon(95% 10%, 100% 80%, 62% 77%, 45% 12%);
  }
  50%, 70% {
    background: url("https://images.unsplash.com/photo-1508739773434-c26b3d09e071?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 0% 0%;
    -webkit-clip-path: polygon(100% 67%, 48% 63%, 28% 9%, 95% 3%);
  }
  75%, 95% {
    background: url("https://ununsplash.imgix.net/40/lUUnN7VGSoWZ3noefeH7_Baker%20Beach-12.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 0% 0%;
    -webkit-clip-path: polygon(78% 72%, 58% 34%, 95% 27%, 100% 73%);
  }
}
@keyframes section-1 {
  0%, 20%, 100% {
    background: url("https://images.unsplash.com/photo-1547626740-02cb6aed9ef8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 0% 0%;
    -webkit-clip-path: polygon(23% 18%, 95% 13%, 100% 91%, 55% 87%);
  }
  25%, 45% {
    background: url("https://unsplash.imgix.net/30/skater.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 0% 0%;
    -webkit-clip-path: polygon(95% 10%, 100% 80%, 62% 77%, 45% 12%);
  }
  50%, 70% {
    background: url("https://images.unsplash.com/photo-1508739773434-c26b3d09e071?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 0% 0%;
    -webkit-clip-path: polygon(100% 67%, 48% 63%, 28% 9%, 95% 3%);
  }
  75%, 95% {
    background: url("https://ununsplash.imgix.net/40/lUUnN7VGSoWZ3noefeH7_Baker%20Beach-12.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 0% 0%;
    -webkit-clip-path: polygon(78% 72%, 58% 34%, 95% 27%, 100% 73%);
  }
}
section:nth-child(2) {
  -moz-animation: section-2 8s both infinite;
  -webkit-animation: section-2 8s both infinite;
  animation: section-2 8s both infinite;
}

@-moz-keyframes section-2 {
  0%, 20%, 100% {
    background: url("https://images.unsplash.com/photo-1547626740-02cb6aed9ef8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 33.33333% 0%;
    -webkit-clip-path: polygon(0% 7%, 100% 9%, 95% 93%, 5% 95%);
  }
  25%, 45% {
    background: url("https://unsplash.imgix.net/30/skater.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 33.33333% 0%;
    -webkit-clip-path: polygon(100% 3%, 95% 95%, 5% 90%, 0% 5%);
  }
  50%, 70% {
    background: url("https://images.unsplash.com/photo-1508739773434-c26b3d09e071?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 33.33333% 0%;
    -webkit-clip-path: polygon(95% 83%, 5% 78%, 0% 6%, 100% 11%);
  }
  75%, 95% {
    background: url("https://ununsplash.imgix.net/40/lUUnN7VGSoWZ3noefeH7_Baker%20Beach-12.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 33.33333% 0%;
    -webkit-clip-path: polygon(5% 79%, 0% 21%, 100% 16%, 95% 83%);
  }
}
@-webkit-keyframes section-2 {
  0%, 20%, 100% {
    background: url("https://images.unsplash.com/photo-1547626740-02cb6aed9ef8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 33.33333% 0%;
    -webkit-clip-path: polygon(0% 7%, 100% 9%, 95% 93%, 5% 95%);
  }
  25%, 45% {
    background: url("https://unsplash.imgix.net/30/skater.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 33.33333% 0%;
    -webkit-clip-path: polygon(100% 3%, 95% 95%, 5% 90%, 0% 5%);
  }
  50%, 70% {
    background: url("https://images.unsplash.com/photo-1508739773434-c26b3d09e071?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 33.33333% 0%;
    -webkit-clip-path: polygon(95% 83%, 5% 78%, 0% 6%, 100% 11%);
  }
  75%, 95% {
    background: url("https://ununsplash.imgix.net/40/lUUnN7VGSoWZ3noefeH7_Baker%20Beach-12.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 33.33333% 0%;
    -webkit-clip-path: polygon(5% 79%, 0% 21%, 100% 16%, 95% 83%);
  }
}
@keyframes section-2 {
  0%, 20%, 100% {
    background: url("https://images.unsplash.com/photo-1547626740-02cb6aed9ef8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 33.33333% 0%;
    -webkit-clip-path: polygon(0% 7%, 100% 9%, 95% 93%, 5% 95%);
  }
  25%, 45% {
    background: url("https://unsplash.imgix.net/30/skater.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 33.33333% 0%;
    -webkit-clip-path: polygon(100% 3%, 95% 95%, 5% 90%, 0% 5%);
  }
  50%, 70% {
    background: url("https://images.unsplash.com/photo-1508739773434-c26b3d09e071?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 33.33333% 0%;
    -webkit-clip-path: polygon(95% 83%, 5% 78%, 0% 6%, 100% 11%);
  }
  75%, 95% {
    background: url("https://ununsplash.imgix.net/40/lUUnN7VGSoWZ3noefeH7_Baker%20Beach-12.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 33.33333% 0%;
    -webkit-clip-path: polygon(5% 79%, 0% 21%, 100% 16%, 95% 83%);
  }
}
section:nth-child(3) {
  -moz-animation: section-3 8s both infinite;
  -webkit-animation: section-3 8s both infinite;
  animation: section-3 8s both infinite;
}

@-moz-keyframes section-3 {
  0%, 20%, 100% {
    background: url("https://images.unsplash.com/photo-1547626740-02cb6aed9ef8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 66.66666% 0%;
    -webkit-clip-path: polygon(5% 11%, 100% 14%, 95% 88%, 0% 91%);
  }
  25%, 45% {
    background: url("https://unsplash.imgix.net/30/skater.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 66.66666% 0%;
    -webkit-clip-path: polygon(100% 14%, 95% 84%, 0% 91%, 5% 7%);
  }
  50%, 70% {
    background: url("https://images.unsplash.com/photo-1508739773434-c26b3d09e071?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 66.66666% 0%;
    -webkit-clip-path: polygon(95% 79%, 0% 86%, 5% 7%, 100% 3%);
  }
  75%, 95% {
    background: url("https://ununsplash.imgix.net/40/lUUnN7VGSoWZ3noefeH7_Baker%20Beach-12.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 66.66666% 0%;
    -webkit-clip-path: polygon(0% 85%, 5% 14%, 100% 3%, 95% 95%);
  }
}
@-webkit-keyframes section-3 {
  0%, 20%, 100% {
    background: url("https://images.unsplash.com/photo-1547626740-02cb6aed9ef8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 66.66666% 0%;
    -webkit-clip-path: polygon(5% 11%, 100% 14%, 95% 88%, 0% 91%);
  }
  25%, 45% {
    background: url("https://unsplash.imgix.net/30/skater.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 66.66666% 0%;
    -webkit-clip-path: polygon(100% 14%, 95% 84%, 0% 91%, 5% 7%);
  }
  50%, 70% {
    background: url("https://images.unsplash.com/photo-1508739773434-c26b3d09e071?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 66.66666% 0%;
    -webkit-clip-path: polygon(95% 79%, 0% 86%, 5% 7%, 100% 3%);
  }
  75%, 95% {
    background: url("https://ununsplash.imgix.net/40/lUUnN7VGSoWZ3noefeH7_Baker%20Beach-12.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 66.66666% 0%;
    -webkit-clip-path: polygon(0% 85%, 5% 14%, 100% 3%, 95% 95%);
  }
}
@keyframes section-3 {
  0%, 20%, 100% {
    background: url("https://images.unsplash.com/photo-1547626740-02cb6aed9ef8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 66.66666% 0%;
    -webkit-clip-path: polygon(5% 11%, 100% 14%, 95% 88%, 0% 91%);
  }
  25%, 45% {
    background: url("https://unsplash.imgix.net/30/skater.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 66.66666% 0%;
    -webkit-clip-path: polygon(100% 14%, 95% 84%, 0% 91%, 5% 7%);
  }
  50%, 70% {
    background: url("https://images.unsplash.com/photo-1508739773434-c26b3d09e071?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 66.66666% 0%;
    -webkit-clip-path: polygon(95% 79%, 0% 86%, 5% 7%, 100% 3%);
  }
  75%, 95% {
    background: url("https://ununsplash.imgix.net/40/lUUnN7VGSoWZ3noefeH7_Baker%20Beach-12.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 66.66666% 0%;
    -webkit-clip-path: polygon(0% 85%, 5% 14%, 100% 3%, 95% 95%);
  }
}
section:nth-child(4) {
  -moz-animation: section-4 8s both infinite;
  -webkit-animation: section-4 8s both infinite;
  animation: section-4 8s both infinite;
}

@-moz-keyframes section-4 {
  0%, 20%, 100% {
    background: url("https://images.unsplash.com/photo-1547626740-02cb6aed9ef8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 99.99999% 0%;
    -webkit-clip-path: polygon(5% 18%, 89% 21%, 62% 73%, 0% 83%);
  }
  25%, 45% {
    background: url("https://unsplash.imgix.net/30/skater.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 99.99999% 0%;
    -webkit-clip-path: polygon(57% 31%, 45% 67%, 0% 77%, 5% 18%);
  }
  50%, 70% {
    background: url("https://images.unsplash.com/photo-1508739773434-c26b3d09e071?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 99.99999% 0%;
    -webkit-clip-path: polygon(45% 57%, 0% 67%, 5% 8%, 72% 12%);
  }
  75%, 95% {
    background: url("https://ununsplash.imgix.net/40/lUUnN7VGSoWZ3noefeH7_Baker%20Beach-12.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 99.99999% 0%;
    -webkit-clip-path: polygon(0% 77%, 5% 18%, 47% 21%, 32% 67%);
  }
}
@-webkit-keyframes section-4 {
  0%, 20%, 100% {
    background: url("https://images.unsplash.com/photo-1547626740-02cb6aed9ef8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 99.99999% 0%;
    -webkit-clip-path: polygon(5% 18%, 89% 21%, 62% 73%, 0% 83%);
  }
  25%, 45% {
    background: url("https://unsplash.imgix.net/30/skater.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 99.99999% 0%;
    -webkit-clip-path: polygon(57% 31%, 45% 67%, 0% 77%, 5% 18%);
  }
  50%, 70% {
    background: url("https://images.unsplash.com/photo-1508739773434-c26b3d09e071?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 99.99999% 0%;
    -webkit-clip-path: polygon(45% 57%, 0% 67%, 5% 8%, 72% 12%);
  }
  75%, 95% {
    background: url("https://ununsplash.imgix.net/40/lUUnN7VGSoWZ3noefeH7_Baker%20Beach-12.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 99.99999% 0%;
    -webkit-clip-path: polygon(0% 77%, 5% 18%, 47% 21%, 32% 67%);
  }
}
@keyframes section-4 {
  0%, 20%, 100% {
    background: url("https://images.unsplash.com/photo-1547626740-02cb6aed9ef8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 99.99999% 0%;
    -webkit-clip-path: polygon(5% 18%, 89% 21%, 62% 73%, 0% 83%);
  }
  25%, 45% {
    background: url("https://unsplash.imgix.net/30/skater.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 99.99999% 0%;
    -webkit-clip-path: polygon(57% 31%, 45% 67%, 0% 77%, 5% 18%);
  }
  50%, 70% {
    background: url("https://images.unsplash.com/photo-1508739773434-c26b3d09e071?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80") 99.99999% 0%;
    -webkit-clip-path: polygon(45% 57%, 0% 67%, 5% 8%, 72% 12%);
  }
  75%, 95% {
    background: url("https://ununsplash.imgix.net/40/lUUnN7VGSoWZ3noefeH7_Baker%20Beach-12.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050") 99.99999% 0%;
    -webkit-clip-path: polygon(0% 77%, 5% 18%, 47% 21%, 32% 67%);
  }
}
@media (max-width: 1000px) {
    .iFrameY{
    width:600px;
    height:320.8568px;
  
  }
  
  #showcase {
    position: absolute;
    top: -115px;
    left: -150px;

     margin: 0;
    -moz-transform: scale(0.65, 0.65);
    -ms-transform: scale(0.65, 0.65);
    -webkit-transform: scale(0.65, 0.65);
    transform: scale(0.65, 0.65);
  }
}
@media (max-width: 680px) {

  .container-action p:nth-child(1){
    font-size: 1.5rem;
  }
  .container-action a:nth-child(2){
    font-size: 1rem;
  }
  .container-action p:nth-child(3){
    font-size: 1.5rem;
  }
  .card{
    width: 100%;
    margin: 0 auto;
    height: 400px;
  }
  .iFrameY{
    width:500px;
    height:280.714px;
  }
  
  #showcase {
    position: absolute;
    top: -180px;
    left: -230px;
    margin: 0;
    -moz-transform: scale(0.45, 0.45);
    -ms-transform: scale(0.45, 0.45);
    -webkit-transform: scale(0.45, 0.45);
    transform: scale(0.45, 0.45);
  }
}
@media (max-width: 510px) {
  .container-svg{

    height: 50vh;

  }
  .primary-button{
    width: 95%;
  }
  .secundary-button{
    width: 100%;
  }
  .iFrameY{
    width:390px;
    height:calc(390px*0.571428px);
    height:218.85692px;
  }
  .contentText p {

    font-size: 1rem;

  }
  .contentText {

    font-size: 1rem;

  }
  .hero h1{
    font-size: 21px;
  
  }
  .content-info h2{
    font-size: 21px;
  }

  #showcase {
    position: absolute;
    top: -215px;
    left: -300px;
    margin: 0;
    -moz-transform: scale(0.38, 0.38);
    -ms-transform: scale(0.38, 0.38);
    -webkit-transform: scale(0.38, 0.38);
    transform: scale(0.38, 0.38);
  }
}
@media (max-width: 400px) {
  .container-action p:nth-child(1){
    font-size: 1.2rem;
  }
  .container-action a:nth-child(2){
    font-size: 0.8rem;
  }
  .container-action p:nth-child(3){
    font-size: 1.2rem;
  }
  .container-action{
    height: 200px;
    row-gap: 15px;
  }
  .card{
    width: 100%;
    margin: 0 auto;
    height: 300px;
  }
  .iFrameY{
    width:340px;
    height:192px;
  }
  #showcase {
    position: absolute;
    top: -220px;
    left: -320px;
    margin: 0;
    -moz-transform: scale(0.32, 0.32);
    -ms-transform: scale(0.32, 0.32);
    -webkit-transform: scale(0.32, 0.32);
    transform: scale(0.32, 0.32);
  }
}
@media (max-width: 360px) {
  .container-svg{
    height: 70vh;
  }
  .iFrameY{
    width:318px;
    height:calc(320px*0.571428px);
    height: 182px;
  }
  #showcase {
    position: absolute;
    top: -225px;
    left: -330px;
    margin: 0;
    -moz-transform: scale(0.32, 0.32);
    -ms-transform: scale(0.32, 0.32);
    -webkit-transform: scale(0.32, 0.32);
    transform: scale(0.32, 0.32);
  }
}
@media (max-width: 330px) {

  #showcase {
    position: absolute;
    top: -230px;
    left: -340px;
    margin: 0;
    -moz-transform: scale(0.32, 0.32);
    -ms-transform: scale(0.32, 0.32);
    -webkit-transform: scale(0.32, 0.32);
    transform: scale(0.32, 0.32);
  }
}
